* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

.hide-ui #gui-container {
  display: none;
}

canvas {
  position: absolute;
  inset: 0;
}

#gui-container {
  z-index: 10;
}

@media (min-width: 950px) {
  #gui-container {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 380px;
  }
}

@media (max-width: 950px) {
  #gui-container {
    position: fixed;
    bottom: 10px;
    left: 10px;
    right: 10px;

    .gui-scroller {
      max-height: 50vh;
    }
  }
}
